<launch>
  <arg name="world_name" default="$(find argus_gazebo)/worlds/lunar_habitat.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_name)" respawn="false" output="screen" />

  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" if="$(arg gui)"/>

  <arg name="prefix" default=""/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find argus_description)/urdf/argus.urdf.xacro' prefix:=$(arg prefix)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model argus -param robot_description -x 0 -y 0 -z 0.1"/>

</launch>